.insta_card {
    .insta_video-container {
        width: 100%;
        height: 100%;
        position: relative;

        video {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .insta_btn-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.5);
            color: white;
            font-size: 40px;
            border: none;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
        }
    }
}
