
// Fonts
$font-primary: 'Montserrat', sans-serif; // Textos principais
$font-secundary: 'Playfair Display', serif; // Titulos ou destaques

// Colors
$color-primary: #C48067;
$color-background: #F1EEE7;
$green-dark: #525B48;
$green-light: #B7BDAF;

// Spacing
$section-margin: 60px;