
// Fonts
$font-primary: 'Montserrat', sans-serif; // Textos principais
$font-secundary: 'Playfair Display', serif; // Titulos ou destaques

// Colors
$orange-light: #C48067;
$orange-super-light: #c6b0a8;
$orange-dark: #8E412E;
$color-background: #F1EEE7;
$green-dark: #525B48;
$green-light: #B7BDAF;