@use './mixins' as *;
@use './variables' as *;


*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 22px;
  background-color: $color-background;
}
.menu{
    text-decoration: none;
    color: inherit;
}
h1{
  font-family: $font-secundary;
  font-size: 35px;
  margin-bottom: 40px;
  font-weight: lighter;
}